.isotope {
    position: relative;
    //height: 1200px !important;
}

.isotope-item {
    overflow: hidden;
    position: relative;
    float: left;
    color: #efefef;
    border-radius: 12px;
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;
    border: 8px solid rgba(255, 255, 255, 0.9);

    &.tire {
        background-color: rgba(100, 0, 0, 0.35);
    }
    &.wheel {
        background-color: rgba(0, 0, 100, 0.35);
    }
}
