.isotope {
    position: relative;
    overflow: hidden;
}

.isotope-item {
	float: left;
	margin: 10px;
	.panel-body {
		width: 250px;
		height: 150px;
		overflow: hidden;
	}
	.product_image {
		width: 120%;
		float: right;
	}
}
