{% extends "base.html" %}

{% load staticfiles %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static "js/perfectiontire/tires.js" %}"></script>
    <script type="text/javascript" src="{% static "js/perfectiontire/productPage.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-controller="ProductPageController">
                <p>Product type</p>
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-default" ng-click="filterIsotope('.tire')" ng-class="{'btn-primary': filterType == '.tire'}">Tires</button>
                    <button class="btn btn-default" ng-click="filterIsotope('.wheel')" ng-class="{'btn-primary': filterType == '.wheel'}">Wheels</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" ng-controller="ProductPageController">
                <div id="isotope_container" class="isotope clearfix">
                    {% verbatim %}
                        <div ng-repeat="product in productData" class="isotope-item {{ product.type }}">

                            {{ product|json }}
                        </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
