{% extends "base.html" %}

{% load staticfiles %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static "js/perfectiontire/tires.js" %}"></script>
    <script type="text/javascript" src="{% static "js/perfectiontire/productPage.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12" ng-controller="ProductPageController">
                <p>Product type</p>
                <!--
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-default" ng-click="filterTypeReset()" ng-class="filterActive('*')">All</button>
                    <button class="btn btn-default" ng-click="filterTypeSet('tire')" ng-class="filterActive('tire')">Tires</button>
                    <button class="btn btn-default" ng-click="filterTypeSet('wheel')" ng-class="filterActive('wheel')">Wheels</button>
                </div>
                -->
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-default" ng-click="filterCategoryReset()" ng-class="filterActive('*')">All</button>
                    <button class="btn btn-default" ng-click="filterCategorySet('high-performance')" ng-class="filterActive('high-performance')">High Performance</button>
                    <button class="btn btn-default" ng-click="filterCategorySet('ultra-high-performance')" ng-class="filterActive('ultra-high-performance')">Ultra High Performance</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" ng-controller="ProductPageController">
                <div id="isotope_container" class="isotope clearfix">
                    {% verbatim %}
                        <div ng-repeat="product in productData" class="isotope-item {{ product.type }} {{ product.category }}">
		                    <div class="panel">
		                    	<div class="panel-body">
									<img src="../../static/img/{{ product.type }}/{{ product.brand }}/{{ product.image }}" class="product_image">
		                    	</div>
		                    	<div class="panel-footer">
									<h3>{{ product.name }}</h3>
		                    	</div>
		                    </div>
                		</div>
                    {% endverbatim %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
