{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Perfection Tire</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.isotope.css" %}">

    <link rel="SHORTCUT ICON" href="{% static "img/favicon.ico" %}"/>
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.isotope.js" %}"></script>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/jquery-1.10.2.min.map" %}"></script>

    <script src="{% static "js/tires.js" %}"></script>
    <script src="{% static "js/productPage.js" %}"></script>
</body>
</html>
